/*

Stylesheet for rafael nadal project

Theme color: 		#01503d (French Open Green)
Anylytics Green: 	#54A148

*/


body {
	background-color:#54A148;
	overflow:hidden;
}

.absolute {
	position:absolute;
}

.white {
	color:white;
}

.black {
	color:black;
}

.bottom {
	bottom:0;
	margin-bottom:0;
	padding-bottom:0;
}

.right {
	right:0;
	text-align:right;
}

.left {
	left:0;
	text-align:left;
}

.top {
	top:0;
}

#myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: /* our video */;
	background-position: center center;
	background-size: contain;
	object-fit: cover;
	z-index:3;
}

#slide1 {
	background: url('../img/hi_res_test.jpg') no-repeat center center fixed;
	background-size: cover;
}

#mapslide {
	background: url('../img/world_map.png') no-repeat 50% 50%;
	background-size:cover;
}

.pixel {
	height:30px;
	width:30px;
	margin:4px;
	background-color:whitesmoke;
	display:inline-block;
}

.pixel:hover {
	height:32px;
	width:32px;
	margin:3px;
}

#pixel-canvas {
	margin:100px 100px 100px 160px;
	position:absolute;
	padding:4px;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:black;
	overflow:hidden;
}

#slide3 {
	background: url('../img/french-open.jpg');
	background-size: cover;
	transition: background-position 0.8s ease-in-out;
	-o-transition: background-position 0.8s ease-in-out;
	-moz-transition: background-position 0.8s ease-in-out;
	-webkit-transition: background-position 0.8s ease-in-out;
}

#slide5 {
	background: url('../img/nadal.jpg');
	background-size: cover;
}


#fp-nav {
	background-color: rgba(255, 255, 255, 0.34);
	width: 60px;
	padding: 15px;
	left:0;
	margin-left:-17px;
	height: 100%;
	top: 0;
	margin-top:0 !important; 
	transition: background-color 0.3s ease;
}

#fp-nav > ul {
	padding-top:60px;
}

#fp-nav:hover {
	background-color: white;
	transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
}

.fb-btn {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	height: 40px;
	margin: 10px;
	opacity:0.6;
	transition: opacity 0.3s ease;
}

.any-btn {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 60px;
	margin: 0;
	transition: height 0.2s ease, margin 0.2s ease;
}

.any-btn:hover {
	height:100px;
	margin:-20px;
}

.fb-btn:hover, .any-btn:hover {
	opacity:1;
}

.fp-tooltip {
	background-image: url("../img/black.png");
	padding:5px;
	font-size:1.2em;
}

#fp-nav ul li a span {
	background: #01503d;
}

#nadal-stats {
	color: black;
	list-style: none;
	width: 25%;
	min-width:250px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	position: absolute;
	right: 50px;
	top: 100px;
}

#slide1-box {
	width:auto;
	height:auto;
	padding:20px;
	position:absolute;
	right:100px;
	top:100px;
}

#nadal-stats > ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.title-box {
	position:absolute;
	top:40%;
	left: 100px;
	background-image:  url("../img/black.png");
	padding: 0 20px 15px 20px;
}

.title-box-grid {
	background-image:  url("../img/black.png");
	padding: 0 20px 15px 20px;
}

.hover-box {
	border-style:solid;
	border-width:5px;
	position:absolute;
	border-color:white;
	opacity:0.7;
	transition: background-color 0.3s ease, border-width 0.2s ease,  border-color 0.5s ease;
	-o-transition: background-color 0.3s ease, border-width 0.2s ease,  border-color 0.5s ease;
	-moz-transition: background-color 0.3s ease, border-width 0.2s ease,  border-color 0.5s ease;
	-webkit-transition: background-color 0.3s ease, border-width 0.2s ease,  border-color 0.5s ease;
}

.hover-box:hover {
	background-color: rgba(255, 255, 255, 0.5);
	border-width:2px;
	border-color:#01503d;
	transition: background-color 0.3s ease, border-width 0.2s ease,  border-color 0.5s ease;
	-o-transition: background-color 0.3s ease, border-width 0.2s ease,  border-color 0.5s ease;
	-moz-transition: background-color 0.3s ease, border-width 0.2s ease,  border-color 0.5s ease;
	-webkit-transition: background-color 0.3s ease, border-width 0.2s ease,  border-color 0.5s ease;
	cursor:pointer;
}

#nadal-head {
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	
	animation-delay: 0.25s;
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
}

#nadal-forearm {
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
}

#nadal-lefty {
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	
	animation-delay: 0.55s;
	-webkit-animation-delay: 0.55s;
	-moz-animation-delay:  0.55s;
}

#nadal-mobile {
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay:  0.7s;
}

.slide-title {
	text-align:center;
	padding:25px;
}

/***** VERSUS SLIDE ****/

#slide6 {
	text-align:center;
	background-color:#d6d6d6;
	color: #222222 !important;
	overflow:hidden;
}

#slide6 h2 {
	color: #222222 !important;
}

.stat-btn {
  width: 100px;
  height: 100px;
  padding:10px;
  margin:20px;
  border-radius: 50%;
  /* border-radius: 50%; */
  background-color: #222222;
  display: inline-block;
}

#round-picker {
	top:20px;
	left:0;
	right:0;
	margin:auto;
}

.round-btn {
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	height:50px;
	width:50px;
	//border-radius:50%;
	font-size:1.2em;
	background-color:#222222;
	color:#565656;
	//background-image: url("../img/white.png");
	cursor:pointer;
}

#versus-container {
 	padding-top: 100px;
	padding-bottom:10px;
	font-size:5em;
}

.scores-row {
	font-size:.3em;
	cursor:pointer;
  	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#nadal-background {
	z-index:0;
	position:absolute;
	width: calc( 50% - 30px );
	height:100%;
	background-color:#fec401;
}

#opponent-background {
	z-index:0;
	position:absolute;
	width: calc( 50% - 30px );
	right:0;
	height:100%;
}

#slide6-title {
	z-index:10;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	left:60px;
	right:0;
}

::-webkit-input-placeholder {
   color: rgba(192, 192, 192, 0.40);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(192, 192, 192, 0.40);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(192, 192, 192, 0.40);  
}

:-ms-input-placeholder {  
   color: rgba(192, 192, 192, 0.40);  
}

.record-overall {
	font-size:1.7em;
}

input[type=text] {
    float: right;
    border: 2px solid rgba(192,192,192,0.40);
    padding: 8px 0;
    background-color: rgba(0,0,0,0);
    outline:none;
    border-width: 0 0 2px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform:uppercase;
    margin-top: 15px;
    padding-top: 0;
    margin-top: 0;
    text-align:center;
    transition: border-color .3s;
  	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
.vs-box {
	height:100px;
	width:100px;
	border-radius:50%;
}

#stats-box {
	margin-top:15px;
	margin-bottom:15px;
	font-size:1.7em;
}

#parent-versus-container {
	background-image:url("../img/white.png");
}

.leftBar {
  display: inline-block;
  z-index: 10;
  position: absolute;
  left: 0px;
  background-color: #d30016;//white;
  	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.rightBar {
  display: inline-block;
  position: absolute;
  z-index: 9;
  right: 0px;
  background-color: #fec401;//darkcyan;
  	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.scoresRowActive {
	font-size:0.4em;
}

.autocomplete-suggestions { 
	font-family: 'SourceSans';
	text-transform: uppercase;
	font-size:1.5em;
	border: 1px solid #999; 
	background: #FFF; 
	overflow: hidden; 
}

.autocomplete-suggestion { 
	padding: 2px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
}

.autocomplete-selected { 
	background: #F0F0F0; 
}

.autocomplete-suggestions strong { 
	font-weight: normal; 
	color: #54A148; 
}

.autocomplete-group { 
	padding: 2px 5px; 
}

.autocomplete-group strong { 
	display: block; 
	border-bottom: 1px solid #000; 
}

/****** BOOTSTRAP OVERRIDES *****/

.modal-content {
	border-radius:0;
}


.modal-header {
	background-color:#01503d;
	cursor: move;
}

.modal-header > button {
	color:white;
}

.modal-header > button:hover {
	color:white;
}

.modal-title {
	color:white;
}


/****** TIMELINE.JS OVERRIDES *****/

.vco-storyjs, .storyjs-embed {
	background-color:transparent !important;
	background-image: url("../img/white.png");
}

.french-open-container {
	padding: 50px 50px 50px 110px;
}


/******** Loading animation  *******/
/* From https://github.com/tobiasahlin/SpinKit */


#loading-screen {
	background-color:white;
	opacity:1;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:100000;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/******* LOADING ANIMATION ********/
/* http://projects.lukehaas.me/css-loaders/ */
.loader {
	font-size: 90px;
	text-indent: -9999em;
	overflow: hidden;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position: absolute;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease;
	animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.087em -0.825em 0 -0.42em #54A148, -0.173em -0.812em 0 -0.44em #54A148, -0.256em -0.789em 0 -0.46em #54A148, -0.297em -0.775em 0 -0.477em #54A148;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.338em -0.758em 0 -0.42em #54A148, -0.555em -0.617em 0 -0.44em #54A148, -0.671em -0.488em 0 -0.46em #54A148, -0.749em -0.34em 0 -0.477em #54A148;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.377em -0.74em 0 -0.42em #54A148, -0.645em -0.522em 0 -0.44em #54A148, -0.775em -0.297em 0 -0.46em #54A148, -0.82em -0.09em 0 -0.477em #54A148;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.087em -0.825em 0 -0.42em #54A148, -0.173em -0.812em 0 -0.44em #54A148, -0.256em -0.789em 0 -0.46em #54A148, -0.297em -0.775em 0 -0.477em #54A148;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.338em -0.758em 0 -0.42em #54A148, -0.555em -0.617em 0 -0.44em #54A148, -0.671em -0.488em 0 -0.46em #54A148, -0.749em -0.34em 0 -0.477em #54A148;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #54A148, -0.377em -0.74em 0 -0.42em #54A148, -0.645em -0.522em 0 -0.44em #54A148, -0.775em -0.297em 0 -0.46em #54A148, -0.82em -0.09em 0 -0.477em #54A148;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #54A148, 0 -0.83em 0 -0.42em #54A148, 0 -0.83em 0 -0.44em #54A148, 0 -0.83em 0 -0.46em #54A148, 0 -0.83em 0 -0.477em #54A148;
  }
}


/******** YEARBOOK WINNERS STYLES *****/

#slide4 {
	background-color:rgb(16, 16, 16);
	overflow-y:auto;
	overflow-x:hidden;
}

.card {
	width: 100px;
	height: 100px;
	margin: 20px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	/*border-style:solid;
	border-color:#01503d;
	border-width:3px;*/
}

.front, .back {
	padding: 10px;
	border-radius:50%;
}
.front {
	background-color: #ccc;
}

.year-label {
	position: absolute;
	bottom: -15px;
	text-align: center;
	width: 120px;
	left: -10px;
	height: 25px;
	font-size:1.1em;
}

.year-label > img {
	width:120px;
	position: fixed;
	z-index: -1;
	left: -10px;
}

.back {
	background-color: #fff;
}

.offset-60 {
	padding-left:60px;
}


/***** HOVER.CSS https://github.com/IanLunn/Hover ****/

/* Outline Out */
.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}